@import reset

body
	width: 1600px
	margin: 0 auto
	background: #fff
	font-family: 'Lato', sans-serif

.header
	background-image: url(/img/bg.jpg)
	background-position: center
	background-repeat: no-repeat
	height: 947px


.container
	width: 960px
	margin: 0 auto

.header-left
	position: relative

.logo
	content: ""
	position: absolute
	width: 73px
	height: 73px
	left: 16px
	top: 21px
	background-image: url(/img/logo.png)

.select__value
	font-size: 15px
	line-height: 20px
	font-weight: 700
	color: #fff

.header__right
	padding-top: 52px
	nav
		display: flex
	a
		margin-right: 70px
		text-decoration: none
		color: #fff
		font-size: 15px
		line-height: 20px
		font-weight: 700

.select
	position: relative
	margin-right: 80px

.select__real
	position: absolute
	top: 0
	background-color: inherit
	font-size: 15px
	line-height: 20px
	font-weight: 700
	color: #fff
	border: none

.hero
	padding-top: 148px
	width: 400px
	h2
		font-size: 52px
		line-height: 62px
		font-weight: 300
		font-smooth: auto
		color: #fff
		margin-bottom: 21px

	p
		font-size: 14px
		font-weight: 400
		line-height: 25px
		font-smooth: auto
		color: #fff
